style.css
#taskList {
    margin-top: 15px;
    padding: 0;
}

#taskList li {
    list-style: none;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
